<div class="comments-box row">
  <h5 class="comments-title row">Comments</h5>
  <div class="comments-body row">
  </div>
  <div class="comments-form row">
    <form action="post">
      <div class="row"><label for="username">Username:</label>
      <input type="text" id="userinput"></div>
      <div class="row"><label for="comment">Comment:</label>
      <textarea name="comment" cols="30" rows="2" id="bodyinput"></textarea></div>
    </form>
  </div>
  <div class="comments-footer row">
    <button class="close-comments">Close</button>
  </div>
</div>