<div class="comments-box row">
  <h5 class="comments-title row">Comments</h5>
  <div class="comments-body row">
  </div>
  <div class="comments-form row">
    <form action="post">
      <label for="username">Username:</label>
      <input type="text" id="userinput"><br>
      <label for="comment">Comment:</label>
      <textarea name="comment" cols="30" rows="10" id="bodyinput"></textarea>
    </form>
  </div>
  <div class="comments-footer row">
    <button id="close-comments">Close</button>
    <button id="submit-comment">Send</button>
  </div>
</div>