{{!-- model pop-up  --}}

<div>
    <h1>Comments</h1>
    <div>
        {{!-- row>{{generated comments}}{{X-button}} --}}
    </div>
    <form action="post">
        <label for="username">Username:</label>
        <input type="text">
        <label for="comment">Comment:</label>
        <textarea name="comment" cols="30" rows="10"></textarea>
        <button id="submit-comment">Send</button>
    </form>
    <button id="close-comments">Close</button>
</div>