.active {
  color: #ee6e73;
  font-weight: 300;
}
body{
  background-image: url(./imgs/announcement-3509489_960_720.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
nav{
  background-color: rgba(33, 68, 29, 0.75);
}
a{
  color: white;
  text-shadow: -2.25px 2.25px black;
}
#nyt-logo{
  width: 100px;
}
.comments-box{
  background-color: chartreuse;
  display: none;
}
.results{
  background-color: rgba(255, 255, 255, 0.85);
}
.row{
  margin: 5px;
}

/* h2 */
/* Articles Divs*/
/* Comments Box & Form */